*{
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
  background-image: url("pattern.webp");
}


.price {
  font-weight: bold;
  color: blue;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.mediumspringgreen {
  background-color: mediumspringgreen;
}

.lightcoralbgc {
  background-color: lightcoral;
}
.skybluebgc {
  background-color: skyblue;
}

